<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @post.description %>
  </p>

  <%= render partial: 'likes/button', locals: { likeable: @post } %>

  <p>
      <strong>Comments:</strong>
    <%= render @post.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
    <%= render partial: 'comments/form', locals: { post: @post, parent: nil} %>
  </p>

</div>
